<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445840120931-3m4u1tlgicqe8ad7ov0ah65vkluciuqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445840120931-3m4u1tlgicqe8ad7ov0ah65vkluciuqt</string>
	<key>API_KEY</key>
	<string>AIzaSyArUvHSkXU0Kz0Z1EsRPqW8GRJ3oTv7jZk</string>
	<key>GCM_SENDER_ID</key>
	<string>445840120931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasAkhirFlutter</string>
	<key>PROJECT_ID</key>
	<string>employee-leave-app</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-leave-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445840120931:ios:6e89386d1bbb4c9951ac56</string>
</dict>
</plist>